<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>竹所 | Jusot</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs.min.css" rel="stylesheet">
    <!--自定义css&js-->
    <link href="/static/css/default.css" rel="stylesheet">
    <script src="/static/js/default.js"></script>

    <script src="https://images-1252918210.cos.ap-beijing.myqcloud.com/highlight.pack.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.2/showdown.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/me">我</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">首页</a>
                        </li>
                        <li>
                            <a href="/articles/all/0">文章</a>
                        </li>
                        <li>
                            <a href="/forum">论坛</a>
                        </li>
                        <li>
                            <a href="/chat">瞎侃</a>
                        </li>
                        <li>
                            <a href="/codes/paste">贴代码</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search" action="/search" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="target" placeholder="精确查找">
                        </div>
                        <button type="submit" class="btn btn-default" >查找</button>
                    </form>
                    {% if not session.logged_in %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a id="modal-123" href="#modal-container-123" data-toggle="modal"><strong>Sign in</strong></a>
                        </li>
                        <li style="margin-left:-15px;margin-right:-15px;">
                            <p class="navbar-text">or</p>
                        </li>
                        <li>
                            <a id="modal-456" href="#modal-container-456" data-toggle="modal"><strong>Sign up</strong></a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown pull-right">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <img src="/static/imgs/users/{{ session['avatar'] }}" class="img-circle avatar">
                                {{ session['username'] }}<strong class="caret"></strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/edit">更改资料</a>
                                </li>
                                <li>
                                    <a href="/articles/write">写文章</a>
                                </li>
                                <li>
                                    <a href="/codes/paste">贴代码</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a onclick="logout()"><p class="text-danger">登出</p></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="modal fade" id="modal-container-123" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-body">
                    <div class="input-group" style="width: 30em;">
                        <span class="input-group-addon">用户名</span>
                        <input id="username" name="nusername" type="text" class="form-control" placeholder="请输入用户名，只限字母和数字">
                    </div>
                    <br>
                    <div class="input-group" style="width: 30em;">
                        <span class="input-group-addon">密　码</span>
                        <input id="password" name="npassword" type="password" class="form-control" placeholder="请输入密码">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="login()" class="btn btn-default" data-dismiss="modal">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-container-456" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-body">
                    <div class="input-group" style="width: 30em;">
                        <span class="input-group-addon">昵　称</span>
                        <input id="nnickname" name="nnickname" type="text" class="form-control" readonly onfocus="this.removeAttribute('readonly');" placeholder="请输入昵称">
                    </div>
                    <br>
                    <div class="input-group" style="width: 30em;">
                        <span class="input-group-addon">用户名</span>
                        <input id="nusername" name="nusername" type="text" class="form-control" readonly onfocus="this.removeAttribute('readonly');" placeholder="请输入用户名，只限字母和数字">
                    </div>
                    <br>
                    <div class="input-group" style="width: 30em;">
                        <span class="input-group-addon">密　码</span>
                        <input id="npassword" name="npassword" type="password" readonly onfocus="this.removeAttribute('readonly');" class="form-control" placeholder="请输入密码">
                    </div>
                    <br>
                    <div class="input-group" style="width: 30em;">
                        <span class="input-group-addon">邮　箱</span>
                        <input id="email_addr" name="email_addr" type="email" class="form-control" readonly onfocus="this.removeAttribute('readonly');" placeholder="请输入常用邮箱">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="signup()" class="btn btn-default" data-dismiss="modal">注册</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: rgba(255,255,255, 0.9);">
    <div class="row clearfix">
        <div class="col-md-3 column"></div>
        <div class="col-md-6 column">
            <br>
            <div class="text-center">
                <div class='eye'></div>
                <div class='eye'></div>
            </div>
            {% block header %}{% endblock %}
        </div>
        <div class="col-md-3 column"></div>
    </div>
</div>
<br>
<div class="container">
    {% block content %}{% endblock %}
</div>

<footer class="container-fluid foot-wrap" style="background:#202020;padding:35px;margin-top:50px;">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <h4 style="color:#FFFFFF" class="title">友情链接</h4>
                <a style="color: #959595; border:1px solid; padding:5px;" href="https://whispering-anchorage-66382.herokuapp.com/" target="_blank">BNB</a>
            </div>
        </div>
    </div>
</footer>

<div class="copyright" style="background:#111;font-size:13px;color:#555555;padding-top:28px;padding-bottom:14px;border-top:1px solid #303030;">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a style="color:#555555" href="http://www.jusot.com/">Jusot</a></span> |
                <span><a style="color:#555555" href="http://www.miibeian.gov.cn/" target="_blank">京ICP备17013700号</a></span>
            </div>
        </div>
    </div>
</div>

</body>
</html>