{% extends "layout.html" %}

{% block content %}

<div class="page-header">
    <h1 class="text-center">
        {{ name }}
        <span>:)</span>
    </h1>
</div>

<div class="row clearfix">
    {% if not session.logged_in %}
    <div class="alert alert-danger" role="alert">
        您现在的身份为访客，请先于右上角登录。
    </div>
    {% else %}
    <div class="col-md-12 column">
        <img src="/static/imgs/users/{{ user['avatar'] }}" class="center-block img-circle avatar_me">
        <h3 class="text-center">
            {{ user['nickname'] }}
        </h3>
        <p class="text-center"><em>{{ user['username'] }}</em></p>
        <p class="text-center">{{ user['sign'] }}</p>
        <ul class="list-inline text-center">
            <li>
                <button onclick="location.href='/edit'" type="button" class="btn btn-default">更改资料</button>
            </li>
            <li>
                <button onclick="location.href='/articles/write'" type="button" class="btn btn-default">写文章</button>
            </li>
            <li>
                <a id="modal-246585" href="#modal-container-246585" role="button" class="btn btn-block btn-default" data-toggle="modal">发帖子</a>
            </li>
            <li>
                <button onclick="location.href='/codes/paste'" type="button" class="btn btn-default btn-block">贴代码</button>
            </li>
        </ul>
    </div>
    {% endif %}
    <div class="modal fade" id="modal-container-246585" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/forum/posts/write" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">
                            <input type="text" name="title" placeholder="主题">
                        </h4>
                    </div>
                    <div class="modal-body">
                        <label for="id_content">内容：</label>
                        <textarea class="form-control" rows="3" id="id_content" name="content"></textarea>
                        <label for="id_plate">板块：</label>
                        <select id="id_plate" name="plate" class="form-control">
                            <option value ="cpp">C/C++</option>
                            <option value ="cs">C#</option>
                            <option value="py">Python</option>
                            <option value="mis">杂谈</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="submit" class="btn btn-default">发表</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 column">
        <h3>板块</h3>
        <ul class="list-inline">
            <li>
                <button onclick="location.href='/forum/plates/cpp'" type="button" class="btn btn-block btn-default">C/C++</button>
            </li>
            <li>
                <button onclick="location.href='/forum/plates/cs'" type="button" class="btn btn-block btn-default">C#</button>
            </li>
            <li>
                <button onclick="location.href='/forum/plates/py'" type="button" class="btn btn-block btn-default">Python</button>
            </li>
            <li>
                <button onclick="location.href='/forum/plates/mis'" type="button" class="btn btn-block btn-default">杂谈</button>
            </li>
        </ul>
    </div>

</div>

<div class="row clearfix">
    <div class="col-md-12 column">
        <br>
        <p class="well well-sm">
            最近帖子
        </p>
        {% for post in posts %}

        <div class="panel panel-default article">
            <div class="panel-body article2" onclick="location.href='/forum/posts/{{ post['order'] }}'">
                <h4>
                    <strong>{{ post['title'] }}</strong>
                </h4>
            </div>
            <div class="panel-footer article1" onclick="location.href='/users/{{ post['username'] }}'">
                <strong>{{ post['lz'] }}</strong> 发于 <em>    {{ post['time_post'] }}</em>
            </div>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}