{% extends "layout.html" %}

{% block content %}

<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="panel panel-success article">
            <div class="panel-heading lead">
                <h1>{{ post['title'] }}</h1>
            </div>
            <div class="panel-body">
                <p class="lead">{{ post['content'] }}</p>
                <em>
                    {{ post['lz'] }} on {{ post['time_post'] }}
                </em>
            </div>
            <ul class="list-group">
                {% for comment in comments %}
                <li class="list-group-item">
                    <em>{{ comment['corder'] }}楼</em>
                    <p class="lead">{{ comment['content'] }}</p>
                    <p class="text-right"><em >{{ comment['cz'] }} on {{ comment['time_comment'] }}</em></p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% if not session.logged_in %}
<div class="alert alert-danger" role="alert">
    在您（于右上角）登录后即可跟帖。
</div>
{% else %}
<div class="col-md-12 column">
    <form role="form" action="/forum/posts/{{ post['order'] }}" method="post">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">跟帖</span>
            <input id="content" name="content" type="text" onkeypress="kdown(event)" class="form-control" placeholder="消息" aria-label="消息">
            <span class="input-group-btn"><button class="btn btn-info" onclick= type="submit">发送(Enter也可以)</button></span>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}