{% extends "layout.html" %}

{% block content %}

<form method="post" action="/articles/write">
    <div class="page-header">
        <div class="col-sm-10">
            <input class="form-control" name="title" placeholder="Input your title">
        </div>
    </div>
    <textarea id="oriContent" class="form-control" onkeyup="convert()" name="content"
              rows="6" cols="60">Type **Markdown** here.</textarea>
    <div id="preview"> </div>
    <script src="/static/js/showdown.min.js"></script>
    <script type="text/javascript">
      function convert(){
        var text = document.getElementById("oriContent").value;
        var converter = new showdown.Converter();
        var html = converter.makeHtml(text);
        document.getElementById("preview").innerHTML = html;
    }
    </script>
    <button class="btn btn-default" type="submit">发表</button>
</form>

{% endblock %}
