{% extends "layout.html" %}

{% block content %}

<div class="row clearfix">
    <div class="page-header">
        <h1>
            {{ author }}
        </h1>
    </div>
    <div class="col-md-12 column">
        {% for article in articles %}
        {% if article['completed'] %}
        <div class="panel panel-default article">
            <div class="panel-body article2" onclick="location.href='/articles/{{ article['order'] }}'">
                <h4>
                    <strong>{{ article['title'] }}</strong>
                </h4>
            </div>
            <div class="panel-footer article1" onclick="location.href='/users/{{ article['username'] }}'">
                <strong>{{ article['author'] }}</strong> 发布于 <em>    {{ article['time_post'] }}</em>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <ul class="pagination">
            <li>
                <a href="/articles/all/{{ pre }}">Prev</a>
            </li>
            {% for page_id in page_ids %}
            <li>
                <a href="/articles/all/{{ page_id }}">{{ page_id }}</a>
            </li>
            {% endfor %}
            <li>
                <a href="/articles/all/{{ next }}">Next</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}