{% extends "layout.html" %}

{% block header %}

<h1 class="text-center">
    {% if article['completed'] %}
    {{ article['title'] }}
    {% else %}
    [草稿]{{ article['title'] }}
    {% endif %}
</h1>

<ul class="list-inline text-center">
    {% for label in article['labels'] %}
    <li>
        <span class="label label-primary">{{ label }}</span>
    </li>
    {% endfor %}
</ul>
{% if edit %}
<a href="/articles/edit/{{ article['order'] }}"><p class="text-center">修改文章</p></a>
{% endif %}
<h4 class="text-right">
    <strong>{{ article['author'] }}</strong> 写于 <em>{{ article['time_post'] }}</em>
</h4>

{% endblock %}

{% block content %}

<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="panel panel-default">
            <div class="panel-body">
                <textarea id="oriContent" style="display:none;">{{ article['content'] }}</textarea>
                <div id="preview"> </div>
                <script type="text/javascript">
                function convert(){
                    var text = document.getElementById("oriContent").value;
                    var converter = new showdown.Converter();
                    var html = converter.makeHtml(text);
                    document.getElementById("preview").innerHTML = html;
                }
                new convert();
            </script>
            </div>
        </div>
    </div>
</div>
<br>
{% if not session.logged_in %}
<div class="alert alert-danger" role="alert">
    在您（于右上角）登录后即可发表评论。
</div>
{% else %}
<div class="row clearfix">
    <div class="col-md-12 column">
        <form role="form" action="/articles/{{ article['order'] }}" method="post">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">评论</span>
                <input id="content" name="content" type="text" onkeypress="kdown(event)" class="form-control" placeholder="消息" aria-label="消息">
                <span class="input-group-btn"><button class="btn btn-info" type="submit">发送(Enter也可以)</button></span>
            </div>
        </form>
    </div>
</div>
{% endif %}
<br>
<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="panel panel-default">
            <div class="panel-heading">已有评论</div>
            <ul class="list-group">
                {% for comment in comments %}
                <li class="list-group-item">
                    <span>{{ comment['corder'] }}楼</span>
                    <p class="lead">{{ comment['content'] }}</p>
                    <em><strong>{{ comment['cz'] }}</strong> 评论于 {{ comment['time_comment'] }}</em>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
