{% extends "layout.html" %}

{% block content %}

{% if not session.logged_in %}

<div class="alert alert-danger" role="alert">
    您现在的身份为访客，请先于右上角登录后验证身份。
</div>

{% else %}

{% if edit %}
<div class="row clearfix">
    <form method="post" action="/articles/edit/{{ article['order'] }}">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <input class="form-control"
                           name="title"
                           value="{{ article['title'] }}">
                </div>
                <div class="col-md-4 column">
                    <input class="form-control"
                           name="labels"
                           placeholder="标签(;分割)"
                           value="{{ labels }}">
                </div>
                <div class="col-md-2 column">
                    <button class="btn btn-default" type="submit" name="completed" value="0">存为草稿</button>
                    <button class="btn btn-default" type="submit" name="completed" value="1">发表</button>
                </div>
            </div>
            <br>
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <textarea id="oriContent" class="form-control" onkeyup="convert()" name="content"rows="20" cols="60">{{ article['content']|safe }}</textarea>
                </div>
                <div class="col-md-6 column">
                    <div id="preview" style="background-color: rgba(255,255,255,0.9); padding: 5px;"></div>
                    <script type="text/javascript">
                    function convert(){
                        var text = document.getElementById("oriContent").value;
                        var converter = new showdown.Converter();
                        var html = converter.makeHtml(text);
                        document.getElementById("preview").innerHTML = html;
                    }
                    </script>
                </div>
            </div>
        </div>
    </form>
</div>

{% else %}

<div class="row clearfix">
    <form method="post" action="/articles/write">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <input class="form-control"
                           name="title"
                           placeholder="文章标题">
                </div>
                <div class="col-md-4 column">
                    <input class="form-control"
                           name="labels"
                           placeholder="标签(;分割)">
                </div>
                <div class="col-md-2 column">
                    <button class="btn btn-default" type="submit" name="completed" value="0">存为草稿</button>
                    <button class="btn btn-default" type="submit" name="completed" value="1">发表</button>
                </div>
            </div>
            <br>
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <textarea id="oriContent" class="form-control" onkeyup="convert()" name="content"rows="20" cols="60">使用MarkDown语法编辑您的文章</textarea>
                </div>
                <div class="col-md-6 column">
                    <div id="preview" style="background-color: rgba(255,255,255,0.9); padding: 5px;">使用MarkDown语法编辑您的文章</div>
                    <script type="text/javascript">
                    function convert(){
                        var text = document.getElementById("oriContent").value;
                        var converter = new showdown.Converter();
                        var html = converter.makeHtml(text);
                        document.getElementById("preview").innerHTML = html;
                    }
                    </script>
                </div>
            </div>
        </div>
    </form>
</div>

{% endif %}

{% endif %}

{% endblock %}

