{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('message', function(msg)
    {
        document.getElementById('id_recently').innerText = msg;
    })
    socket.on('recv_msg', function(data)
    {
        document.getElementById('all_msgs').innerHTML += "<dt style=\"border-style: solid;\">"+data['nickname']+"</dt><dd style=\"padding: 5px;\">"+data['msg']+"</dd>";
        location.href = "#msg_ta"
    })
    do
    {
        var nickname = prompt("请输入您的昵称：", "");
    }
    while(nickname=="");
    socket.emit('join', {'nickname': nickname, 'room': 'chat'});
    function send_msg()
    {
        socket.emit('send_msg', {'nickname': nickname, 'room': 'chat', 'msg': document.getElementById('msg_ta').value});
        document.getElementById('msg_ta').value = '';
    }
    function kdown(e)
    {
        if(e.keyCode == 13)
        {
            e.preventDefault();
            var msg = document.getElementById('msg_ta').value;
            document.getElementById('msg_ta').value = '';
            socket.emit('send_msg', {'nickname': nickname, 'room': 'chat', 'msg': msg});
        }
    }
</script>

<h2 class="text-center">
    Jusot's 聊天室
</h2>

<div class="container">
    <div class="row clearfix">
        <h5 id="id_recently" class="text-center">
        </h5>
        <div class="col-md-12 column">
            <dl id="all_msgs">
            </dl>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <textarea cols="120" id="msg_ta" onkeypress="kdown(event)" placeholder="Enter也可以发送"></textarea>
            <button onclick="send_msg()" class="btn btn-default btn-block">发送</button>
        </div>
    </div>
</div>

{% endblock %}
