{% extends "layout.html" %}

{% block header %}

<h1 class="text-center">
    CODE # PASTE
</h1>

{% endblock %}

{% block content %}
<div>
    <form action="/codes/paste" method="POST">
        <div class="form-group">
            <label for="id_poster">Poster:</label>
            <input type="text" class="form-control" id="id_poster" name="poster" placeholder="Your name (30 characters max)">
        </div>
        <div class="form-group">
            <label for="id_syntax">Syntax:</label>
            <select name="syntax" class="form-control" id="id_syntax">
                <option value="cpp">C++</option>
                <option value="text">Plain Text</option>
                <option value="make">Makefile</option>
                <option value="bash">Bash</option>
                <option value="c">C</option>
                <option value="cmake">CMake</option>
                <option value="coffee-script">CoffeeScript</option>
                <option value="common-lisp">Common Lisp</option>
                <option value="console">Bash Session</option>
                <option value="csharp">C#</option>
                <option value="css">CSS</option>
                <option value="cython">Cython</option>
                <option value="d">D</option>
                <option value="erlang">Erlang</option>
                <option value="fortran">Fortran</option>
                <option value="go">Go</option>
                <option value="groff">Groff</option>
                <option value="haskell">Haskell</option>
                <option value="html">HTML</option>
                <option value="java">Java</option>
                <option value="js">JavaScript</option>
                <option value="llvm">LLVM</option>
                <option value="lua">Lua</option>
                <option value="matlab">Matlab</option>
                <option value="mysql">MySQL</option>
                <option value="numpy">NumPy</option>
                <option value="objective-c">Objective-C</option>
                <option value="perl">Perl</option>
                <option value="py3tb">Python 3.0 Traceback</option>
                <option value="pycon">Python console session</option>
                <option value="pytb">Python Traceback</option>
                <option value="python">Python</option>
                <option value="python3">Python 3</option>
                <option value="rb">Ruby</option>
                <option value="scala">Scala</option>
                <option value="scheme">Scheme</option>
                <option value="smalltalk">Smalltalk</option>
                <option value="sql">SQL</option>
                <option value="tex">TeX</option>
                <option value="text">Text only</option>
                <option value="xml">XML</option>
                <option value="xquery">XQuery</option>
                <option value="yaml">YAML</option>
            </select>
        </div>
        <div class="form-group">
            <label for="id_content">Codes:</label>
            <textarea id="id_content" class="form-control" rows="20" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Paste!</button>
    </form>
</div>

{% endblock %}