{% extends "layout.html" %}

{% block content %}

<div class="row clearfix">
    <div class="page-header">
        <h1 class="text-center">
             竹所
        </h1>
    </div>
    <div class="col-md-7 column">
        <p class="well well-sm">
            最近八篇文章
        </p>
        <br>
        {% for article in articles %}
        {% if article['completed'] %}
        <div class="panel panel-default article">
            <div class="panel-body article2" onclick="location.href='/articles/{{ article['order'] }}'">
                <h4>
                    <strong>{{ article['title'] }}</strong>
                </h4>
            </div>
            <div class="panel-footer article1" onclick="location.href='/users/{{ article['username'] }}'">
                <strong>{{ article['author'] }}</strong> 发布于 <em>    {{ article['time_post'] }}</em>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-5 column">
        <p class="well well-sm">
            最近帖子
        </p>
        <br>
        {% for post in posts %}
        <div class="panel panel-default article">
            <div class="panel-body article2" onclick="location.href='/forum/posts/{{ post['order'] }}'">
                <h4>
                    <strong>{{ post['title'] }}</strong>
                </h4>
            </div>
            <div class="panel-footer article1" onclick="location.href='/users/{{ post['username'] }}'">
                <strong>{{ post['lz'] }}</strong> 发于 <em>    {{ post['time_post'] }}</em>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}