{% extends "layout.html" %}

{% block header %}

<h1 class="text-center">
    竹所
</h1>

{% endblock %}

{% block content %}

<div class="row clearfix">
    <div class="col-md-7 column">
        <p class="well well-sm">
            最近八篇文章
        </p>
        <br>
        {% for article in articles %}
        {% if article['completed'] %}
        <div class="panel panel-default article">
            <div class="panel-body article2" onclick="location.href='/articles/{{ article['order'] }}'">
                <h4>
                    {{ article['title'] }}
                </h4>
            </div>
            <div class="panel-footer article1" onclick="location.href='/users/{{ article['username'] }}'">
                {{ article['author'] }} 发布于 <em>    {{ article['time_post'] }}</em>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-5 column">
        <p class="well well-sm">
            最近帖子
        </p>
        <br>
        {% for post in posts %}
        <div class="panel panel-default article">
            <div class="panel-body article2" onclick="location.href='/forum/posts/{{ post['order'] }}'">
                <h4>
                    {{ post['title'] }}
                </h4>
            </div>
            <div class="panel-footer article1" onclick="location.href='/users/{{ post['username'] }}'">
                {{ post['lz'] }} 发于 <em>    {{ post['time_post'] }}</em>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}