{% extends "layout.html" %}

{% block content %}
搜索结果
<div class="row clearfix">
    <h3>
        用户
    </h3>
    <div class="col-md-12 column">
        {% for user in users %}
        <div class="page-header">
            <a href="/users/{{ user['username'] }}">
                <h2>
                    {{ user['nickname'] }}
                </h2>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="row clearfix">
    <h3>
        文章
    </h3>
    <div class="col-md-12 column">
        {% for article in articles %}
        {% if article['completed'] %}
        <div class="page-header">
            <a href="/articles/{{ article['order'] }}">
                <h2>
                    {{ article['title'] }}
                    <small>{{ article['author'] }}</small>
                </h2>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="row clearfix">
    <h3>
        帖子
    </h3>
    <div class="col-md-12 column">
        {% for post in posts %}

        <div class="page-header">
            <a href="/forum/posts/{{ post['order'] }}">
                <h2>
                    {{ post['title'] }}
                    <small>{{ post['lz'] }}</small>
                </h2>
            </a>
        </div>

        {% endfor %}
    </div>
</div>

<div class="row clearfix">
    <h3>
        代码
    </h3>
    <div class="col-md-12 column">
        {% for code in codes %}

        <div class="page-header">
            <a href="/codes/{{ code['order'] }}">
                <h2>
                    {{ code['poster'] }}
                    <small>{{ code['syntax'] }}</small>
                </h2>
            </a>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}