.navbar-right{
    margin-right: 0.5em !important;
}
body {
    padding-top: 50px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% !important;
    background-image: url(/static/imgs/background.jpg);
}

.article{
    background-color: rgba(255, 255, 255, 0.7);
}

.article2:hover{
    background-color: rgba(255, 255, 255, 1);
}

.article1{
    background-color: rgba(255, 255, 255, 0.7);
}

.article1:hover{
    background-color: rgba(255, 255, 255, 1);
}

.avatar{
    height: 29px;
    wight: 29px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.avatar_me{
    height: 100px;
    wight: 100px;
}

.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #CCC;
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  content: " ";
}