.navbar-right{
    margin-right: 0.5em !important;
}
body {
    padding-top: 70px !important;
    background-image: url('/static/imgs/background.jpg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% !important;
}