.navbar-right{
    margin-right: 0.5em !important;
}
body {
    padding-top: 70px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% !important;
}

.article{
    background-color: rgba(255, 255, 255, 0.3);
}

.article2:hover{
    background-color: rgba(255, 255, 255, 1);
}

.article1{
    background-color: rgba(255, 255, 255, 0.5);
}

.article1:hover{
    background-color: rgba(255, 255, 255, 1);
}

.avatar{
    height: 29px;
    wight: 29px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.avatar_me{
    height: 100px;
    wight: 100px;
}