{% extends "layout.html" %}

{% block content %}

<div style="padding: 100px 100px 10px;">
    {% if not see %}
    <form class="bs-example bs-example-form" role="form" method="post" action="/editpwd">
        <div class="input-group" style="width: 30em;">
            <span class="input-group-addon">密码将修改为</span>
            <input name="password" type="password" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-default">修改密码</button>
    </form>
    {% else %}
    <form class="bs-example bs-example-form" role="form" method="post" action="/editnick">
        <div class="input-group" style="width: 30em;">
            <span class="input-group-addon">昵称将修改为</span>
            <input name="nickname" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-default">修改昵称</button>
    </form>
    {% endif %}
</div>

{% endblock %}