{% extends "layout.html" %}

{% block content %}

<script>
    function editavatar
</script>

<br><br><br>
<div class="row clearfix">
    <div class="col-md-12 column">
        <img src="/static/imgs/users/{{ user['avatar'] }}" class="img-circle avatar_me">
    </div>
    <div class="col-md-4 column">
        <form class="bs-example bs-example-form" role="form" method="post" action="/editavatar" enctype="multipart/form-data">
            <div class="form-group">
                <br>
                <label for="file">上传头像(支持jpg及png)</label>
                <input type="file" id="file" name="file">
                <p class="help-block">文件名请不要夹含中文，且不提供裁剪</p>
            </div>
            <button type="submit" class="btn btn-default">更改头像</button>
            <br><br>
        </form>
    </div>
    <div class="col-md-4 column">
        <form class="bs-example bs-example-form" role="form" method="post" action="/editinfo">
            <br>
            <div class="input-group">
                <span class="input-group-addon">昵称将修改为</span>
                <input name="nickname" type="text" class="form-control" value="{{ user['nickname'] }}">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">签名将修改为</span>
                <input name="sign" type="text" class="form-control" value="{{ user['sign'] }}">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">邮箱将修改为</span>
                <input name="email_addr" type="email" class="form-control" value="{{ user['email_addr'] }}">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">GitHub账号将修改为</span>
                <input name="github_username" type="text" class="form-control" value="{{ user['github_username'] }}">
            </div>
            <br>
            <button type="submit" class="btn btn-default">修改资料</button>
            <br>
        </form>
    </div>
    <div class="col-md-4 column">
        <form class="bs-example bs-example-form" role="form" method="post" action="/editpwd">
            <br>
            <div class="input-group">
                <span class="input-group-addon">密码将修改为</span>
                <input name="password" type="password" class="form-control">
            </div>
            <br>
            <button type="submit" class="btn btn-default">修改密码</button>
        </form>
    </div>
</div>

{% endblock %}