{% extends "layout.html" %}

{% block content %}

<div style="padding: 100px 100px 10px;">
    <form class="bs-example bs-example-form" role="form" method="post" action="/login">
        <div class="input-group" style="width: 30em;">
            <span class="input-group-addon">用户名</span>
            <input name="username" type="text" class="form-control" placeholder="请输入用户名，只限字母和数字">
        </div>
        <br>
        <div class="input-group" style="width: 30em;">
            <span class="input-group-addon">密　码</span>
            <input name="password" type="password" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-default">登录</button>
        <br>
        {% if sth_wrong %}
        <p>用户名已经存在</p>
        {% endif %}
    </form>
</div>

{% endblock %}