{% extends "layout.html" %}

{% block content %}
{% if not session.logged_in %}
<div class="alert alert-danger" role="alert">
    您现在的身份为访客，请先于右上角登录。
</div>
{% else %}
<div class="row clearfix">
    <div class="col-md-4 column">
        <h3>
            {{ session.get('nickname') }}<small>    {{ session.get('username') }}</small>
        </h3>
        <ul class="list-inline">
            <li>
                <button onclick="location.href='/editnick'" type="button" class="btn btn-default">修改昵称</button>
            </li>
            <li>
                <button onclick="location.href='/articles/write'" type="button" class="btn btn-default">写文章</button>
            </li>
            <li>
                <a id="modal-246585" href="#modal-container-246585" role="button" class="btn btn-block btn-default" data-toggle="modal">发帖子</a>
            </li>
            <li>
                <button onclick="location.href='/codes/paste'" type="button" class="btn btn-default btn-block">贴代码</button>
            </li>
        </ul>
    </div>
    <div class="modal fade" id="modal-container-246585" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/forum/posts/write" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">
                            <input type="text" name="title" placeholder="主题">
                        </h4>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" rows="3" name="content"></textarea>
                        <select name="plate">
                            <option value ="cpp">C/C++</option>
                            <option value ="cs">C#</option>
                            <option value="py">Python</option>
                            <option value="mis">杂谈</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="submit" class="btn btn-default">发表</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
    <div class="col-md-8 column">
        <h3>
            我的文章
        </h3>
        <a id="modal-381564" href="#modal-container-381564" role="button" class="btn" data-toggle="modal">删除文章</a>
        <div class="modal fade" id="modal-container-381564" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">
                            请选择要删除的文章
                        </h4>
                    </div>
                    <form action="/del/articles" method="post">
                        <div class="modal-body">

                            <ul>
                                {% for article in articles %}

                                {% if article['completed'] %}

                                <li>
                                    <input type="checkbox" name="do_delete" value="{{ article['order'] }}"> {{ article['title'] }}
                                </li>

                                {% else %}

                                <li>
                                    <input type="checkbox" name="do_delete" value="{{ article['order'] }}"> [草稿]{{ article['title'] }}
                                </li>

                                {% endif %}

                                {% endfor %}
                            </ul>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="submit" class="btn btn-default">删除</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        {% for article in _ %}
        {% if article['completed'] %}

        <div class="panel panel-info article">
            <div class="panel-heading article2" onclick="location.href='/articles/edit/{{ article['order'] }}'">修改文章</div>
            <div class="panel-body article2" onclick="location.href='/articles/{{ article['order'] }}'">
                <h4>
                    <strong>{{ article['title'] }}</strong>
                </h4>
            </div>
            <div class="panel-footer article1" onclick="location.href='/users/{{ article['username'] }}'">
                <strong>{{ article['author'] }}</strong><em>    {{ article['time_post'] }}</em>
            </div>

        </div>

        {% else %}

        <div class="panel panel-info article">
            <div class="panel-heading article2" onclick="location.href='/articles/edit/{{ article['order'] }}'">修改文章</div>
            <div class="panel-body article2" onclick="location.href='/articles/{{ article['order'] }}'">
                <h4>
                    【草稿】<strong>{{ article['title'] }}</strong>
                </h4>
            </div>
            <div class="panel-footer article1" onclick="location.href='/users/{{ article['username'] }}'">
                <strong>{{ article['author'] }}</strong><em>    {{ article['time_post'] }}</em>
            </div>
        </div>

        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}
