{% extends "layout.html" %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-12 column text-center article">
        <img src="/static/imgs/users/{{ user['avatar'] }}" class="center-block img-circle avatar_me">
        <h3 class="text-center">
            {{ user['nickname'] }}
        </h3>
        <p class="text-center">{{ user['sign'] }}</p>
        {% if user['github_username'] %}
        &emsp;&emsp;&emsp;&emsp;
        <iframe src="https://ghbtns.com/github-btn.html?user={{ user['github_username'] }}&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
        <br>
        <img src="https://grass-graph.moshimo.works/images/{{ user['github_username'] }}.png?background=none">
        {% endif %}
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-7 column">
        <br>
        <p class="well well-sm">
            TA的文章
        </p>
        {% for article in articles %}
        {% if article['completed'] %}
        <div class="panel panel-default article">
            <div class="panel-body article2" onclick="location.href='/articles/{{ article['order'] }}'">
                <h4>
                    <strong>{{ article['title'] }}</strong>
                </h4>
            </div>
            <div class="panel-footer article1" onclick="location.href='/users/{{ article['username'] }}'">
                <strong>{{ article['author'] }}</strong> 发布于 <em>    {{ article['time_post'] }}</em>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-5 column">
        <br>
        <p class="well well-sm">
            TA的帖子
        </p>
        {% for post in posts %}
        <div class="panel panel-default article">
            <div class="panel-body article2" onclick="location.href='/forum/posts/{{ post['order'] }}'">
                <h4>
                    <strong>{{ post['title'] }}</strong>
                </h4>
            </div>
            <div class="panel-footer article1" onclick="location.href='/users/{{ post['username'] }}'">
                <strong>{{ post['lz'] }}</strong> 发于 <em>    {{ post['time_post'] }}</em>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
