{% extends "layout.html" %}

{% block content %}

<script>
    function signup()
    {
        nickname = $("#nnickname").val();
        username = $("#nusername").val();
        password = $("#npassword").val();
        email_addr = $("#email_addr").val();
        var formData = new FormData();
        formData.append("nickname", nickname);
        formData.append("username", username);
        formData.append("password", password);
        formData.append("email_addr", email_addr);
        $.ajax({
            url: '/signup',
            data: formData,
            type: "POST",
            contentType: false,
            async: false,
            processData: false,
            success: function(res){
                if (res == "success"){
                    var s = new String(window.location.href);
                    if (s.indexOf("/signup")==-1){
                        location.reload();
                    }
                    else{
                        window.location.href="/";
                    }
                }
                else{
                    alert("用户名已存在");
                }
            },
            fail: function(){
                alert("未知错误");
            }
        });
    };
</script>

<div class="row clearfix" style="padding-top: 100px; ">
    <div class="col-md-4 column" >
        <form class="bs-example bs-example-form" role="form">
            <div class="input-group" style="width: 30em;">
                <span class="input-group-addon">昵　称</span>
                <input id="nnickname" name="nnickname" type="text" class="form-control" readonly onfocus="this.removeAttribute('readonly');" placeholder="请输入昵称">
            </div>
            <br>
            <div class="input-group" style="width: 30em;">
                <span class="input-group-addon">用户名</span>
                <input id="nusername" name="nusername" type="text" class="form-control" readonly onfocus="this.removeAttribute('readonly');" placeholder="请输入用户名，只限字母和数字">
            </div>
            <br>
            <div class="input-group" style="width: 30em;">
                <span class="input-group-addon">密　码</span>
                <input id="npassword" name="npassword" type="password" readonly onfocus="this.removeAttribute('readonly');" class="form-control" placeholder="请输入密码">
            </div>
            <br>
            <div class="input-group" style="width: 30em;">
                <span class="input-group-addon">邮　箱</span>
                <input id="email_addr" name="email_addr" type="email" class="form-control" readonly onfocus="this.removeAttribute('readonly');" placeholder="请输入常用邮箱">
            </div>
            <br>
            <ul class="list-inline">
                <li>
                    <button type="button" onclick="signup()" class="btn btn-default">注　册</button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary" disabled="disabled">已有账号，请在右上角登录</button>
                </li>
            </ul>
        </form>
    </div>
    <div class="col-md-8 column">
    </div>
</div>

{% endblock %}