{% extends "layout.html" %}

{% block content %}

<h2 class="text-center">
    Jusot's Playground
</h2>

<div class="row clearfix">
    <div class="col-md-12 column">
        <form action="/play" method="post">
            <div class="btn-group">
                <tr>
                    <th>
                        <label for="id_language">Language:</label>
                    </th>
                    <td>
                        <select name="language" id="id_language">
                            <option value="cpp">Cpp</option>
                            <option value="py">Python</option>
                        </select>
                    </td>
                </tr>
            </div>
            <textarea id="code" name="code" placeholder="键入代码"></textarea>
            <textarea id="input" name="input" placeholder="input"></textarea>
            <button type="submit">Run</button>
        </form>
        <div id="output">{{ res }}</div>
    </div>
</div>

{% endblock %}
